:root {
  --header-height: 5rem;
}

.header {
  background-color: aqua;
  grid-area: header;
  font-family: "Notflix Font";
  font-size: 4rem;
  align-items: center;
  display: flex;
  padding: 0.125rem 2rem;
  height: var(--header-height);
}
